.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.booking-result {
    margin-top: 20px;
    font-weight: bold;
}

.download-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #1d9230;
}



/* Tabel hasil booking */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1.2em;
}

.styled-table thead {
    background-color: #007BFF;
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody th:hover {
    background-color: #ddd;
}

label{
    font-family: 'comic sans ms';
}

@media screen and (max-width : 991.98px) {
    .container{
        max-width: 400px;
    }
    .input-field{
        width: 70%;
    }
    .styled-table {
        width: 20%;
    }
    h2{
        font-size: 15px;
    }
}