body {
     font-family: 'comic sans ms';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color:#3f72af ;
    color: #fff;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

#forum {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.message {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
}

.user {
    font-weight: bold;
    color: #333;
}

#message-form {
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3f72af;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

/* Style untuk pesan pengguna yang berbeda */
.user1 {
    color: #007bff;
}

.user2 {
    color: #e91e63;
}

/* Tambahkan style untuk tombol Edit dan Hapus */
.message button {
    background-color: transparent;
    color: #007bff; /* Warna biru untuk tombol Edit */
    border: none;
    padding: 0;
    margin-right: 5px;
    font-size: 12px; /* Ukuran teks yang lebih kecil */
    cursor: pointer;
}

.message button.delete {
    color: #e91e63; /* Warna merah untuk tombol Hapus */
}

/* Saat tombol dihover, perbesar sedikit */
.message button:hover {
    transform: scale(1.1);
}

/* Hindari pemisahan tombol dengan jarak yang besar */
.message .user {
    display: inline-block;
}

