.container {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-field {
    width: 98%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.booking-result {
    margin-top: 20px;
    font-weight: bold;
   
}

.download-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #1d9230;
}


/* Pada file styles.css */

/* Tabel hasil booking */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1.2em;
}

.styled-table th {
    background-color: beige;
    padding: 12px 15px;
    text-align: left;
    border: 1px solid;
    color: #1f1d1d;
   
}


.styled-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid;
    background: none;
}

